  <div id="containnerTeste">

      <section id="containnerModal"></section>
      

      <header id="header">
        <nav class="navigationBar">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list iconeMenu" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
          <div class="menu">
            <button class="btnNav" type="button" id="btnHome" onClick="document.getElementById('campoAzul').scrollIntoView();">HOME</button>
            <button class="btnNav" type="button" id="btnSobreEvento" onClick="document.getElementById('textoLP').scrollIntoView();" >SOBRE O EVENTO</button>
            <button class="btnNav" type="button" id="btnPalestrantes" onClick="document.getElementById('secDeAndar').scrollIntoView();">INSPIRADORES</button>
          </div>
        </nav>
      </header>


      
      <section id="campoAzul">
        <div id="campoDo3D">
          <div class="containnerCubo">
            <div class="box l1c1">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right"></div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
            <div class="box l1c2">
              <div class="card mais50 esconde" id="front"></div>
              <div class="card menos50 esconde" id="back"></div>
              <div class="card menos90 esconde" id="left"></div>
              <div class="card mais90 esconde" id="right"></div>
              <div class="card mais90 esconde" id="top"></div>
              <div class="card menos90 esconde" id="bottom"></div>
            </div>
            <div class="box l1c3">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right"></div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
            <div class="box l1c4">
              <div class="card mais50 esconde" id="front"></div>
              <div class="card menos50 esconde" id="back"></div>
              <div class="card menos90 esconde" id="left"></div>
              <div class="card mais90 esconde" id="right"></div>
              <div class="card mais90 esconde" id="top"></div>
              <div class="card menos90 esconde" id="bottom"></div>
            </div>
            <div class="box l1c5">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right"></div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
          <!-- </div> -->
          
          
          <!-- <div class="linha l2"> -->
            <div class="box l2c1">
              <div class="card mais50 esconde" id="front"></div>
              <div class="card menos50 esconde" id="back"></div>
              <div class="card menos90 esconde" id="left"></div>
              <div class="card mais90 esconde" id="right"></div>
              <div class="card mais90 esconde" id="top"></div>
              <div class="card menos90 esconde" id="bottom"></div>
            </div>
            <div class="box l2c2">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right"></div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
            <div class="box l2c3">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right"></div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
            <div class="box l2c4">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right"></div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
            <div class="box l2c5">
              <div class="card mais50 esconde" id="front"></div>
              <div class="card menos50 esconde" id="back"></div>
              <div class="card menos90 esconde" id="left"></div>
              <div class="card mais90 esconde" id="right"></div>
              <div class="card mais90 esconde" id="top"></div>
              <div class="card menos90 esconde" id="bottom"></div>
            </div>
          <!-- </div> -->
          
          
          <!-- <div class="linha l3" > -->
            <div class="box l3c1">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right"></div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
            <div class="box l3c2">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right"></div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
            <div class="box l3c3">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right"></div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
            <div class="box l3c4">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right"></div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
            <div class="box l3c5">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right"></div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
          <!-- </div> -->
          
          
          <!-- <div class="linha l4"> -->
            <div class="box l4c1">
              <div class="card mais50 esconde" id="front"></div>
              <div class="card menos50 esconde" id="back"></div>
              <div class="card menos90 esconde" id="left"></div>
              <div class="card mais90 esconde" id="right"></div>
              <div class="card mais90 esconde" id="top"></div>
              <div class="card menos90 esconde" id="bottom"></div>
            </div>
            <div class="box l4c2">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right"></div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
            <div class="box l4c3">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right"></div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
            <div class="box l4c4">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right"></div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
            <div class="box l4c5">
              <div class="card mais50 esconde" id="front"></div>
              <div class="card menos50 esconde" id="back"></div>
              <div class="card menos90 esconde" id="left"></div>
              <div class="card mais90 esconde" id="right"></div>
              <div class="card mais90 esconde" id="top"></div>
              <div class="card menos90 esconde" id="bottom"></div>
            </div>
          <!-- </div> -->
          
          <!-- <div class="linha l5"> -->
            <div class="box l5c1">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right">Direita</div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
            <div class="box l5c2">
              <div class="card mais50 esconde" id="front"></div>
              <div class="card menos50 esconde" id="back"></div>
              <div class="card menos90 esconde" id="left"></div>
              <div class="card mais90 esconde" id="right">Direita</div>
              <div class="card mais90 esconde" id="top"></div>
              <div class="card menos90 esconde" id="bottom"></div>
            </div>
            <div class="box l5c3">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right">Direita</div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
            <div class="box l5c4">
              <div class="card mais50 esconde" id="front"></div>
              <div class="card menos50 esconde" id="back"></div>
              <div class="card menos90 esconde" id="left"></div>
              <div class="card mais90 esconde" id="right">Direita</div>
              <div class="card mais90 esconde" id="top"></div>
              <div class="card menos90 esconde" id="bottom"></div>
            </div>
            <div class="box l5c5">
              <div class="card mais50" id="front"></div>
              <div class="card menos50" id="back"></div>
              <div class="card menos90" id="left"></div>
              <div class="card mais90" id="right">Direita</div>
              <div class="card mais90" id="top"></div>
              <div class="card menos90" id="bottom"></div>
            </div>
          </div>
          
        </div>
        
        <div class="text">
          <div class="textImpact">
            <h2>SENAC HUB ACADEMY EXPERIENCE DAY&#160;</h2>
            <div>
              <h2 id="cristoSenhor">A VERDADEIRA <span  id="textBlue">INOVAÇÃO</span> ACONTECE&#160;</h2>
              <legend id="cristoSenhor2">COM NOVAS&#160;<span  id="textBlue"> EXPERIÊNCIAS!</span></legend>
            </div>
          </div>
        
          <div class="textDatePlace">
            <h3>1° EDIÇÃO EXPERIENCE DAY!</h3>
            <div class="textDisplayRow">
              <h4 id="textBlue">22&#160;</h4>
              <h5>DE&#160;</h5>
              <h4 id="textBlue">JUNHO&#160;</h4>
              <h5>DE&#160;</h5>
              <h4 id="textBlue">2022&#160;</h4>
              <h5>ÀS&#160;</h5>
              <h4 id="textBlue">19h</h4>
            </div>
            <h6>R. DO PARQUE N°75 - CAMPO GRANDE, MS</h6> <br> <br>
            <h6 id="gratis">EVENTO PRESENCIAL E GRATUITO</h5>
          </div>
        </div>
        
      </section>



      <!-- Cubinhos de efeitos no site -->
      <div class="cubinhosEfeitos kf1 orange" id="ce1"></div>
      <div class="cubinhosEfeitos kf2" id="ce2"></div>
      <div class="cubinhosEfeitos kf3" id="ce3"></div>
      <div class="cubinhosEfeitos kf2" id="ce4"></div>
      <div class="cubinhosEfeitos kf1" id="ce5"></div>
      <div class="cubinhosEfeitos kf3 orange" id="ce6"></div>
      <div class="cubinhosEfeitos kf2" id="ce7"></div>
      <div class="cubinhosEfeitos kf3" id="ce8"></div>
      <div class="cubinhosEfeitos kf1" id="ce9"></div>
      <div class="cubinhosEfeitos kf2" id="ce10"></div>
      <div class="cubinhosEfeitos kf3 orange" id="ce11"></div>
      <div class="cubinhosEfeitos kf3" id="ce12"></div>
      <div class="cubinhosEfeitos kf1 orange" id="ce13"></div>
      <div class="cubinhosEfeitos kf3" id="ce14"></div>
      <div class="cubinhosEfeitos kf2" id="ce15"></div>
      <div class="cubinhosEfeitos kf1 orange" id="ce16"></div>
      <!-- Cubinhos de efeitos no site -->



      <!-- Setinha lateral de scroll -->
      <div class="setinhaContainner">
        <div class="linhaCima"></div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
        </svg>
      </div>
      <!-- Setinha lateral de scroll -->




      <!--Waves starts-->
      <!-- Codepen das waves s2 https://codepen.io/toolslite/pen/qBxWKYR -->
      <section id="seguraWave">
        <div id="waves">
          <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
          </defs>
          <g class="parallax">
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
          <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
          </g>
          </svg>
        </div>
      </section>
      <!--Waves end-->




      <!-- Sessao do texto -->
      <section id="textoLP">
        <article id="containnerTexto">
          <h2>É um grande prazer compartilhar <br> este momento com você!</h2>

          <p>Este é um evento que traz inspiração e conexão para todos! <br>
             Nós do Senac Hub Academy, estamos felizes em oferecer momentos de compartilhamento de conhecimento e experiência, 
             entre empresas, profissionais, professores e estudantes.
          </p>

        </article>
        <div id="containnerLetrasSVG">
          <img src="/assets/Svgs/HXD/H.svg" alt="" class="letraSVG" id="H">
          <img src="/assets/Svgs/HXD/X.svg" alt="" class="letraSVG" id="X">
          <img src="/assets/Svgs/HXD/D.svg" alt="" class="letraSVG" id="D">
        </div>
      </section>
      <!-- Sessao do texto -->




      <!-- Sessao dos cards -->
      <div id="sessaoDosCards">
        <div id="estiloTitulo">
          <div></div>
          <h2 id="tituloInsCon">Inspirações e Conexões</h2>
          <div></div>
        </div>
        <p class="subTitulo">Veja a Programação e não perca tempo. Dia <strong>22/06</strong> às <strong>19H</strong>.</p>
        <p class="textoAzul">Inscreva-se!</p>
        
        <section class="secDeAndar" id="secDeAndar">

          <section id="containnerCardizao">
           <h1>O Mercado do metaverso: Cases e possibilidades com a VRGlass</h1>
           <div id="containnerImgLista">
             <div id="containnerImagemCardizao">
              <div class="flip-card-container" style="--hue: 220">
                <div class="flip-card">
                  <div class="card-front fundoLaranja">
                    
                    <figure id="figure2">
                      <img id="foto_palestrante">
                      <h2>Rodrigo Carvalho Losina</h2>
                      <h3>O mercado do Metaverso</h3>
                    </figure>
                    
                    <img src="/assets/Imgs/Palestrantes/pessoa01.png" alt="Foto do palestrante" id="foto">
                  </div>
              
                  <div class="card-back">
                    <figure>
                      <div class="img-bg"></div>
                      <h2>Rodrigo Carvalho Losina</h2>
                      
                      <p id="descricaoPalestra">Startup brasileira pioneira na criação de sistemas imersivos para enterprises, entregando mais de 200 projetos para clientes como YouTube, NBA</p>
                      <legend id="tresPontos">...</legend>
                      
                      <p id="sala">Vagas</p>
              
                      <div id="containnerSocialCard">
                        <img src="/assets/Svgs/people.svg" alt="Icone instragram">
                        <p id="vagas" class="vagaGrande">/150</p>
                      </div>
                    </figure>
              
                    <button id="inscricao" class="1" type="button" onclick="openModal(event)">Inscreva-se</button>
              
                    <div class="design-container">
                      <span class="design design--1"></span>
                      <span class="design design--2"></span>
                      <span class="design design--3"></span>  
                      <span class="design design--4"></span>
                      <span class="design design--5"></span>
                      <span class="design design--6"></span>
                      <span class="design design--7"></span>
                      <span class="design design--8"></span>
                    </div>
                    
                  </div>
              
                </div>
              </div>
             </div>

             <div id="containnerListaCardizao">
              <div class="informacoes">
                <div class="containnerIconeCardzao">
                  <img src="/assets/Svgs/rocket-svgrepo-com.svg" alt="imgRocket" class="svgCardzao">
                </div>
                <div class="textoCardzao">
                  <h3>Startup</h3>
                  <p>
                    Startup brasileira pioneira na criação de sistemas imersivos para enterprises, entregando mais de 200 projetos para clientes como YouTube, NBA, Coca-Cola, Adidas, Hershey's, Samsung, Nissan, Volkswagen, Ford, Universal, Warner, 3M, Carrefour e Unilever,
                    entre outros.
                  </p>
                </div>
              </div>
              <div class="informacoes">
                <div class="containnerIconeCardzao">
                  <img src="/assets/Svgs/clock-history.svg" alt="imgClock" class="svgCardzao">
                </div>
                <div class="textoCardzao">
                  <h3>História</h3>
                  <p>Desde sua criação em 2011, a VRGlass se consolidou na criação de experiências de compra sociais e imersivas, resultando na concepção de uma solução Software-as-a-service altamente escalável com foco na interatividade e relacionamento
                      entre os usuários, chamada Virtual Town.
                  </p>
                </div>
              </div>
              <div class="informacoes">
                <div class="containnerIconeCardzao">
                  <img src="/assets/Svgs/trophy-svgrepo-com.svg" alt="imgTrophy" class="svgCardzao">
                </div>
                <div class="textoCardzao">
                  <h3>Premiações</h3>
                  <p>Ganhou premiações Leão de Ouro no Festival de Cannes (França), Clio Awards, D&AD e Wave. Foi acelerada pela Samsung, Oracle e Grupo WPP.</p>
                </div>
              </div>
             </div>
           </div>
          </section>


          {{!-- Area dos cardzinhos --}}
          <section class="containnerDeCards">

            {{#each cards}}
            <div class="flip-card-container" style="--hue: 220">
              <div class="flip-card">
                <div class="card-front">
                  
                  <figure id="figure2">
                    <h2>{{ this.nome_palestrante }}</h2>
                    <h3>{{ this.sub_info_palestrante }}</h3>
                  </figure>

                  <figure id="titulo_palestra">
                    <h1>{{ this.titulo_palestra }}</h1>
                    <div id="containnerDataHora">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar4-week" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
                        <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                      </svg>
                      <legend id="legendaDataHora">22/06 - 19:00</legend> -->
                    </div>
                  </figure>
                  <div class="fotoFade" id="fade{{ this.id_palestra }}"> </div>

                  <img src="{{ this.img_palestrante }}" alt="Foto do palestrante" class="foto h{{ this.id_palestra }}">
                </div>

                <div class="card-back">
                  <figure>
                    <div class="img-bg"></div>
                    <h2>{{ this.nome_palestrante }}</h2>
                    
                    <p id="descricaoPalestra">{{ this.descricao_palestra }}</p>
                    <legend id="tresPontos">...</legend>
                    
                    <p id="sala">Inscritos</p>

                    <div id="containnerSocialCard">
                      <img src="/assets/Svgs/people.svg" alt="Icone vagas">
                      <p id="vagas">{{ this.total }}/{{ this.limite_pessoa }}</p>
                    </div>
                  </figure>

                  <button  id="inscricao" type="button" class="{{ this.id_palestra }}" onclick='openModal(event, {{ this.total }}, {{ this.limite_pessoa }})'>Inscreva-se</button>

                  <div class="design-container">
                    <span class="design design--1"></span>
                    <span class="design design--2"></span>
                    <span class="design design--3"></span>
                    <span class="design design--4"></span>
                    <span class="design design--5"></span>
                    <span class="design design--6"></span>
                    <span class="design design--7"></span>
                    <span class="design design--8"></span>
                  </div>
                  
                </div>

              </div>
            </div>

            {{/each}}

          </section>
        </section>
      </div>      
      <!-- Sessao dos cards -->


      
      <!-- Organizacao -->
      <section id="organizacao">
        <div id="seguraTitulo">
          <div class="linhaTitulo"></div>
          <h2 id="tituloOrganizacao">Organização</h2>
          <div class="linhaTitulo"></div>
        </div>

        <div id="seguraIMG">
          <img
            src="/assets/Imgs/LogosOrganizacao/logoFabrica.png"
            alt=""
            class="organizacao"
          />
          <img
            src="/assets/Imgs/LogosOrganizacao/logoSenac.png"
            alt=""
            class="organizacao"
          />
          <img
            src="/assets/Imgs/LogosOrganizacao/logoFecomercio.png"
            alt=""
            class="organizacao"
          />
        </div>
      </section>
      <!-- Organizacao -->






      <!-- Apoiadores -->
      <section id="apoiadores">
        <div id="seguraTitulo">
          <div id="linhaTitulo"></div>
          <h2 id="tituloApoiadores">Apoiadores</h2>
          <div id="linhaTitulo"></div>
        </div>

        <div id="seguraApoiadores">
          <!-- 2 -->
          <div class="linhaEsfera wMini">
            <div class="apoiador" id="apoiador01">
              <img src="/assets/Imgs/LogoApoiadores/logo01.svg" alt="Logo apoiador">
            </div>
            <div class="apoiador" id="apoiador02">
              <img src="/assets/Imgs/LogoApoiadores/logo04.png" alt="Logo apoiador">
            </div>
          </div>

          <!-- 3 -->
          <div class="linhaEsfera wMenor">
            <div class="apoiador" id="apoiador03">
              <img src="/assets/Imgs/LogoApoiadores/logo02.jpeg" alt="" class="imgApoiador logo03">
            </div>
            <div class="apoiador" id="apoiador04">
              <img src="/assets/Imgs/LogoApoiadores/logo03.jpeg" alt="" class="imgApoiador logo04" >
            </div>
            <div class="apoiador" id="apoiador05">
              <img src="/assets/Imgs/LogoApoiadores/logo05.png" alt="Logo apoiador" class="imgApoiador logo05">
            </div>
          </div>

          <!-- 4 -->
          <div class="linhaEsfera wMedia">
            <div class="apoiador" id="apoiador06">
              <img src="/assets/Imgs/LogoApoiadores/logo06.png" class="imgApoiador logo06" alt="Logo apoiador">
            </div>
            <div class="apoiador" id="apoiador07">
              <img src="/assets/Imgs/LogoApoiadores/logo07.png" class="imgApoiador logo07" alt="Logo apoiador">
            </div>
            <div class="apoiador" id="apoiador08">
              <img src="/assets/Imgs/LogoApoiadores/logo08.svg" class="imgApoiador logo08" alt="Logo apoiador">
            </div>
            <div class="apoiador" id="apoiador09">
              <img src="/assets/Imgs/LogoApoiadores/logo09.png" class="imgApoiador logo09" alt="Logo apoiador">
            </div>
          </div>

          <!-- 5 -->
          <div class="linhaEsfera wGrande">
            <div class="apoiador" id="apoiador10">
              <img src="/assets/Imgs/LogoApoiadores/logo10.png" class="imgApoiador logo10" alt="Logo apoiador">
            </div>
            <div class="apoiador" id="apoiador11">
              <img src="/assets/Imgs/LogoApoiadores/logo11.jpg" class="imgApoiador logo11" alt="Logo apoiador">
            </div>
            <div class="apoiador" id="apoiador12">
              <img src="/assets/Imgs/LogoApoiadores/logo12.png" class="imgApoiador logo12" alt="Logo apoiador">
            </div>
            <div class="apoiador" id="apoiador13">
              <img src="/assets/Imgs/LogoApoiadores/logo13.jpeg" class="imgApoiador logo13" alt="Logo apoiador">
            </div>
            <div class="apoiador" id="apoiador14">
              <img src="/assets/Imgs/LogoApoiadores/logo14.jpeg" class="imgApoiador logo14" alt="Logo apoiador">
            </div>
          </div>

          <!-- 4 -->
          <div class="linhaEsfera wMedia">
            <div class="apoiador" id="apoiador15">
              <img src="/assets/Imgs/LogoApoiadores/logo15.jpeg" class="imgApoiador logo15" alt="Logo apoiador">
            </div>
            <div class="apoiador" id="apoiador16">

            </div>
            <div class="apoiador" id="apoiador17">
              <img src="/assets/Imgs/LogoApoiadores/logo17.png" class="imgApoiador logo17" alt="Logo apoiador">
            </div>
            <div class="apoiador" id="apoiador18">
              <img src="/assets/Imgs/LogoApoiadores/logo18.png" class="imgApoiador logo18" alt="Logo apoiador">
            </div>
          </div>

          <!-- 3 -->
          <div class="linhaEsfera wMenor">
            <div class="apoiador" id="apoiador19">
              <img src="/assets/Imgs/LogoApoiadores/logo19.png" class="imgApoiador logo19" alt="Logo apoiador">
            </div>
            <div class="apoiador" id="apoiador20"></div>
            <div class="apoiador" id="apoiador21"></div>
          </div>

          <!-- 2 -->
          <div class="linhaEsfera wMini">
            <div class="apoiador" id="apoiador22"></div>
            <div class="apoiador" id="apoiador23"></div>
          </div>
        </div>
      </section>
      <!-- Apoiadores -->





      <!-- Footer -->
      <footer id="footer">
        <div class="seguraCampos">
          <div class="camposFooter">
            <img src="/assets/Imgs/LogosOrganizacao/logoSenac.png" alt="" class="organizacao">
          </div>
          
          <div class="camposFooter">
            <legend>Siga-nos</legend>
            <div>
              <a href="https://instagram.com/senachubacademy?igshid=YmMyMTA2M2Y=" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
              </svg>
              </a>
            </div>
          </div>
    
          <div class="camposFooter">
            <legend>Contate-nos</legend>
            <a href="https://api.whatsapp.com/send?phone=556799492638" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
              <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg>
            </a>
            <a href="mailto:atendimento@ms.senac.br" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
              </svg>
            </a>
          </div>
        </div>
        <legend class="legendaFooter">Desenvolvido por 
          <strong class="nomesDevs">Anderson Salles 
            <a href="https://github.com/anderson-scr" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg>
            </a>
            
            <a href="https://br.linkedin.com/in/anderson-salles-carrion-43b339231" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
              </svg>
            </a>
          </strong>,
          <strong class="nomesDevs">Esther Rosa 
            <a href="https://github.com/Esther-Maria" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg>
            </a>
    
            <a href="https://br.linkedin.com/in/esther-maria-rosa-776975206" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
              </svg>
            </a>
          </strong>,
          <strong class="nomesDevs">Gabriela Medeiros 
            <a href="https://github.com/gabrielamed" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg>
            </a>
    
            <a href="https://br.linkedin.com/in/gabriela-siqueira-medeiros-23b83b203" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
              </svg>
            </a>
          </strong>, 
    
          <strong class="nomesDevs">Irineu Rosa 
            <a href="https://github.com/Irineu-rosa" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg>
            </a>
    
            <a href="https://www.linkedin.com/in/irineu-rosa-9b5705207/" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
              </svg>
            </a>
          </strong> e <strong class="nomesDevs">Patrik Silva 
            <a href="https://github.com/PatrikMuhammad" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
              </svg>
            </a>
    
            <a href="" target="_blank">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
              </svg>
            </a>
          </strong>
        </legend>
        <legend class="legendaFooter">Fábrica de Software | <strong id="cComercial">&#169;</strong> 2022 - Hub Exeperience Day</legend>
      </footer>
      <!-- Footer -->


      <!-- sec do TETRIS -->
      <section id="seguraTetris">
        <div class="separaCubinhos" id="separacaoEsq">
          <div class="cubTetris ce1 ce l4 a1"></div>
          <div class="cubTetris ce2 ce a7"></div>
          <div class="cubTetris ce3 ce a3"></div>
          <div class="cubTetris ce4 ce a1"></div>
          <div class="cubTetris ce5 ce a9"></div>
          <div class="cubTetris ce6 ce a5"></div>
          <div class="cubTetris ce7 ce a10"></div>
          <div class="cubTetris ce8 ce a2"></div>
          <div class="cubTetris ce9 ce a6"></div>
          <div class="cubTetris ce10 ce a4"></div>
          <div class="cubTetris ce11 ce l2 a1"></div>
          <div class="cubTetris ce12 ce l2 a7"></div>
          <div class="cubTetris ce13 ce l3 a5"></div>
          <div class="cubTetris ce14 ce l1 a10"></div>
          <div class="cubTetris ce15 ce l2 a3"></div>
          <div class="cubTetris ce16 ce l2 a9"></div>
          <div class="cubTetris ce17 ce l5 a6"></div>
          <div class="cubTetris ce18 ce l6 a1"></div>
          <div class="cubTetris ce19 ce l6 a8"></div>
          <div class="cubTetris ce20 ce l4 a4"></div>
          <div class="cubTetris ce21 ce l3 a7"></div>
          <div class="cubTetris ce22 ce l5 a2"></div>
          <div class="cubTetris ce23 ce l3 a5"></div>
          <div class="cubTetris ce24 ce l4 a3"></div>
          <div class="cubTetris ce25 ce l5 a10"></div>
          <div class="cubTetris ce26 ce l3 a8"></div>
          <div class="cubTetris ce27 ce l2 a6"></div>
          <div class="cubTetris ce28 ce l1 a1"></div>

        </div>

        <div class="separaCubinhos" id="separacaoMeio">
          <div class="cubTetris cm1 cm a5"></div>
          <div class="cubTetris cm2 cm a7"></div>
          <div class="cubTetris cm3 cm a1"></div>
          <div class="cubTetris cm4 cm a10"></div>
          <div class="cubTetris cm5 cm a4"></div>
          <div class="cubTetris cm6 cm a8"></div>
          <div class="cubTetris cm7 cm a2"></div>
          <div class="cubTetris cm8 cm a3"></div>
          <div class="cubTetris cm9 cm a10"></div>
          <div class="cubTetris cm10 cm a1"></div>
        </div>
        
        <div class="separaCubinhos" id="separacaoDir">
          <div class="cubTetris cd1 cd l8 a7"></div>
          <div class="cubTetris cd2 cd l5 a1"></div>
          <div class="cubTetris cd3 cd a9"></div>
          <div class="cubTetris cd4 cd a4"></div>
          <div class="cubTetris cd5 cd a5"></div>
          <div class="cubTetris cd6 cd l1 a8"></div>
          <div class="cubTetris cd7 cd l1 a1"></div>
          <div class="cubTetris cd8 cd a10"></div>
          <div class="cubTetris cd9 cd a5"></div>
          <div class="cubTetris cd10 cd a2"></div>
          <div class="cubTetris cd11 cd a7"></div>
          <div class="cubTetris cd12 cd a10"></div>
          <div class="cubTetris cd13 cd a4"></div>
          <div class="cubTetris cd14 cd l3 a6"></div>
          <div class="cubTetris cd15 cd l3 a2"></div>
          <div class="cubTetris cd16 cd l2 a5"></div>
          <div class="cubTetris cd17 cd l4 a9"></div>
          <div class="cubTetris cd18 cd l7 a1"></div>
          <div class="cubTetris cd19 cd l4 a10"></div>
          <div class="cubTetris cd20 cd l2 a8"></div>
          <div class="cubTetris cd21 cd l5 a2"></div>
          <div class="cubTetris cd22 cd l2 a4"></div>
          <div class="cubTetris cd23 cd l6 a7"></div>
          <div class="cubTetris cd24 cd l4 a1"></div>
          <div class="cubTetris cd25 cd l3 a10"></div>
          <div class="cubTetris cd26 cd l2 a8"></div>
          <div class="cubTetris cd27 cd l1 a5"></div>
          <div class="cubTetris cd28 cd l6 a1"></div>
          <div class="cubTetris cd29 cd l2 a4"></div>
          <div class="cubTetris cd30 cd l9 a9"></div>
          <div class="cubTetris cd31 cd l5 a6"></div>

        </div>
      </section>
      <!-- sec do TETRIS -->
      <div id="linhaBase"></div>
    </div> 